beautifulsoup4==4.14.3
bs4==0.0.2
cfgv==3.5.0
distlib==0.4.0
filelock==3.21.2
greenlet==3.3.1
identify==2.6.16
nodeenv==1.10.0
numpy==2.4.2
pandas==3.0.0
platformdirs==4.7.1
playwright==1.58.0
pre_commit==4.5.1
psycopg2-binary==2.9.11
pyee==13.0.0
python-dateutil==2.9.0.post0
PyYAML==6.0.3
six==1.17.0
soupsieve==2.8.3
typing_extensions==4.15.0
virtualenv==20.36.1
